In [ ]:
class basics:
    pass

emp1= basics()

emp1.first = "adarsh"

In [ ]:
emp1.first

'adarsh'

In [ ]:
class stu:
  def __init__(self, student_id, student_name,student_class):
    self.student_id = student_id
    self.student_name = student_name
    self.student_class = student_class
p1 = stu("jj", 36,"X")

In [ ]:
p1.student_class

'X'

In [ ]:
class student:
  name = " "
  age = 0

In [ ]:
student1= student()
student1.name ="Adarsh Tripathi"
student1.age=23
student2 = student()
student2.name ="Shubham D"
student2.age=23

In [ ]:
getattr(student1,"age")

23

In [ ]:
hasattr(student1,"age")

True

In [ ]:
setattr(student2,"sal",1000)

In [ ]:
hasattr(student2,"age")

True